<!-- <!DOCTYPE html>
<html>
    <title>Login</title>

<body>

    <div class="m-container-samll m-padded-tb-large">
        <div class="container" style="max-width: 35em !important;">
            <div class="row">
                <div class="col">
                  <h2 class="teal image header">
                    <div class="content">
                      Login to your account
                    </div>
                  </h2>

                  <form id="loginForm">

                    <div class="input-group mb-3">
                        <span class="input-group-addon">
                          <i class="fas fa-user"></i>
                        </span>
                        <input type="text" class="form-control" name="userName" placeholder="User Name">
                    </div>

                    <div class="input-group mb-3">
                      <span class="input-group-addon">
                        <i class="fas fa-lock"></i>
                          <input type="password" class="form-control" name="passWord" placeholder="Password">
                      </span>
                    </div>
                    <button type="submit" class="fluid large teal submit button">Login</button>


                    <div class="error mini message" id="errorDiv">

                    </div>

                    <div class="negative mini message" th:unless="${#strings.isEmpty(message)}" th:text="${message}"></div>

                  </form>


                </div>
              </div>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script>

      $().ready(function(){
        $('#loginForm').validate(
          {
            errorLabelContainer: $("#errorDiv"),
            rules: {
              userName: "required",
              passWord: "required"
            },
            messages: {
              userName: "User name is required",
              passWord: "Password is required"
            }
          }
        );
      })

    </script>

</body>

</html> -->

<section class="vh-100 ">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card text-white gradient-custom" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Login </h2>
              <p class="text-white-50 mb-5">Please enter your username and password!</p>
<!--
              <div class="form-outline form-white mb-4">
                <input type="email" id="typeEmailX" class="form-control form-control-lg" />
                <label class="form-label" for="typeEmailX">Username</label>
              </div> -->
              <div class="input-group mb-4">
                <div class="input-group-text">
                  <i class="fa fa-user"></i>
                </div>
                <input type="text" class="form-control" placeholder="Username" formControlName="username">
              </div>

              <div class="input-group mb-4">
                <div class="input-group-text">
                  <i class="fa fa-lock"></i>
                </div>
                <input type="password" id="typePasswordX" class="form-control" formControlName="password" />
              </div>

              <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>

              <div class="d-flex justify-content-center text-center mt-4 pt-1">

              </div>

            </form>

            <div>
              <!-- <p class="mb-0">Don't have an account? <a href="#!" class="text-white-50 fw-bold">Sign Up</a></p> -->
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
