<app-nav-bar></app-nav-bar>

<div class="container mt-3">

      <!-- blog list -->

  <div class="row">
    <div class="col bg-white border border-1 rounded p-2">
      <div class="header d-flex">
        <div class="fs-2 fw-bold">
          Tags
        </div>
        <div class="fs-5 ms-auto">
          Total <div class="text-warning m-inline-blok">14</div> Tags
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col bg-white border border-1 rounded p-2">
      <span class="badge rounded-pill bg-primary fs-5 m-2">Primary  15</span>
      <span class="badge rounded-pill bg-primary fs-5 m-2">Primary  15</span>
      <span class="badge rounded-pill bg-primary fs-5 m-2">Primary  15</span>
      <span class="badge rounded-pill bg-primary fs-5 m-2">Primary  15</span>
      <span class="badge rounded-pill bg-primary fs-5 m-2">Primary  15</span>

    </div>
  </div>

  <div class="row">
    <div class="col bg-white border border-1 rounded p-2">
      <div class="list-group ">
        <div class="list-item">
          <app-blog-overivew></app-blog-overivew>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
