<head>
  <meta charset="UTF-8" />
  <title>X - company</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="blossk" />
</head>
<body>
  <div id="home" class="content">
    <h2>About Us</h2>
    <p>X - company is commited to delivering innovative products to the marketplace. It is the number one priority of every GENECRAFT associate to ensure that our breakthroughs in technology, quality and value will result in complete customer satisfaction.</p>
    <h3>Our profile</h3>
    <p></p>
    <ul style="color:white">
      <li>PCR and PCR-based technologies;</li>
      <li>cDNA technologies;</li>
      <li>gene analysis;</li>
      <li>and nucleic acid chemistry.</li>
    </ul>
    <br>
    <p>Recently, the company has released a number of innovative products. The list of restriction enzymes offered by GeneCraft® includes some unique isoschizomeres, not provided by other suppliers. Several tools and kits for molecular biology are also offered.</p>
  </div>
      <div id="samples" class="panel">
    <div class="content">
      <h2>Free Samples</h2>
      <p>Some really nice portfolio shots:</p>
    </div>
  </div>
  <div id="offers" class="panel">
    <div class="content">
      <h2>Special Offers</h2>
      <p>Some really nice portfolio shots:</p>
    </div>
  </div>
  <div id="contact" class="panel">
    <div class="content">
      <h2>Contacts</h2>
      <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.</p>
      <p>Pityful a rethoric question ran over her cheek, then she continued her way. On her way she met a copy.</p>
    </div>
  </div>
  <div id="header">
    <h1>LOGO <span>slogan</span></h1>
    <ul id="navigation">
      <li><a id="link-home" href="#home" class="button-1">About US</a></li>
      <li><a id="link-samples" href="#samples" class="button-1">Free Samples</a></li>
      <li><a id="link-offers" href="#offers" class="button-1">Special Offers</a></li>
      <li><a href="#http://shop.genecraft.us/" class="button-1">Products</a></li>
      <li><a id="link-contact" href="#contact" class="button-1">Contacts</a></li>
    </ul>
  </div>
</body>
