<footer class="m-padded-tb-massive">
  <div class="container-fluid">
    <div class="row text-center">

      <div class="col-2">

            <div href="#" class="">
                <img src="../../../assets/img/wechat_QR.jpg" class="rounded" alt="" style="width: 110px;">
            </div>

      </div>

    <div class="col-3">
      <h4 class="header">New Blogs</h4>
      <div class="list-group list-group-flush">
          <a href="#" class="list-group-item">User Story</a>
          <a href="#" class="list-group-item">User Story</a>
          <a href="#" class="list-group-item">User Story</a>
          <a href="#" class="list-group-item">User Story</a>
      </div>
    </div>

    <div class="col-3">
        <h4 class="header">Contact Me</h4>
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item">Email: jiamingli9674@gmail.com</a>
            <a href="#" class="list-group-item">Github: jiamingli9674</a>
        </div>
    </div>

    <div class="col-4">
        <h4 class="header">New Blogs</h4>
        <p>balabala</p>
    </div>
    </div>

  </div>
  <hr>
  <div class="row text-center">
    <p class="m-opacity-mini m-text-spaced">Copyright Jiaming</p>
  </div>


</footer>

