<footer class="pt-2" >
  <div class="container-fluid">
    <hr class="text-light">
    <div class="row text-center">

      <div class="col-2">

            <div href="#" class="">
                <img src="../../../assets/img/wechat_QR.jpg" class="rounded" alt="" style="width: 110px;">
            </div>

      </div>

    <div class="col-3">
      <h4 class="header text-light">New Blogs</h4>
      <div class="list-group list-group-flush">
          <a href="#" class="list-group-item text-light bg-transparent">User Story</a>
          <a href="#" class="list-group-item text-light bg-transparent">User Story</a>
          <a href="#" class="list-group-item text-light bg-transparent">User Story</a>
          <a href="#" class="list-group-item text-light bg-transparent">User Story</a>
      </div>
    </div>

    <div class="col-3">
        <h4 class="header text-light">Contact Me</h4>
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item bg-transparent text-light">Email: jiamingli9674@gmail.com</a>
            <a href="#" class="list-group-item bg-transparent text-light">Github: jiamingli9674</a>
        </div>
    </div>

    <div class="col-4">
        <h4 class="header text-light">New Blogs</h4>
        <p class="text-light">balabala</p>
    </div>
    </div>

  </div>
  <hr class="text-light">
  <div class="row text-center">
    <p class="m-opacity-mini m-text-spaced text-light">Copyright Jiaming</p>
  </div>


</footer>

