<app-nav-bar></app-nav-bar>

<div class="container mt-3">

      <!-- blog list -->

  <div class="row">
    <div class="col bg-white border border-1 rounded p-2">
      <div class="header d-flex">
        <div class="fs-2 fw-bold">
          Types
        </div>
        <div class="fs-5 ms-auto">
          Total <div class="text-warning m-inline-blok">14</div> Types
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col bg-white border border-1 rounded p-2">
        <button type="button" class="btn btn-outline-primary m-2">
          Notifications <span class="badge bg-danger ms-2">4</span>
        </button>
        <button type="button" class="btn btn-outline-primary m-2">
          Notifications <span class="badge bg-danger ms-2">4</span>
        </button>
        <button type="button" class="btn btn-outline-primary m-2">
          Notifications <span class="badge bg-danger ms-2">4</span>
        </button>
        <button type="button" class="btn btn-outline-primary m-2">
          Notifications <span class="badge bg-danger ms-2">4</span>
        </button>
        <button type="button" class="btn btn-outline-primary m-2">
          Notifications <span class="badge bg-danger ms-2">4</span>
        </button>
    </div>
  </div>

  <div class="row">
    <div class="col bg-white border border-1 rounded p-2">
      <div class="list-group ">
        <div class="list-item">
          <div class="row d-flex">
            <app-blog-overivew></app-blog-overivew>
          </div>
        </div>
      </div>
    </div>
  </div>











</div>

<app-footer></app-footer>
