<app-nav-bar></app-nav-bar>

<div class="container mt-3">
  <div class="row">
    <div class="col-9">
      <!-- blog list -->

      <div class="row">
        <div class="col bg-white border border-1 rounded p-2">
          <div class="header d-flex">
            <div class="fs-2 fw-bold">
              Blogs
            </div>
            <div class="fs-5 ms-auto">
              Total <div class="text-warning m-inline-blok">14</div> Blogs
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="list-group">
          <div class="list-group-item p-0">
            <app-blog-overivew></app-blog-overivew>
          </div>
        </div>
      </div>




    </div>


    <div class="col-3">
      <!-- category and tags -->
      <div class="card">
        <div class="card-header">
          <i class="fa fa-lightbulb-o"></i> Categories
        </div>

        <div class="card-body">
          <div class="list-group">

            <div class="list-group-item d-flex">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Subheading</div>
              </div>
              <span class="badge bg-primary rounded-pill">14</span>
            </div>

            <div class="list-group-item d-flex">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Subheading</div>
              </div>
              <span class="badge bg-primary rounded-pill">14</span>
            </div>

            <div class="list-group-item d-flex">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Subheading</div>
              </div>
              <span class="badge bg-primary rounded-pill">14</span>
            </div>


            <div class="list-group-item d-flex">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Subheading</div>
              </div>
              <span class="badge bg-primary rounded-pill">14</span>
            </div>
          </div>
        </div>
      </div>


      <div class="card mt-5">
        <div class="card-header">
          <i class="fa fa-tag"></i> Tags
        </div>

        <div class="card-body">
          <span class="badge rounded-pill bg-primary">Tag  10</span>
          <span class="badge rounded-pill bg-primary">Tag  10</span>
          <span class="badge rounded-pill bg-primary">Tag  10</span>
          <span class="badge rounded-pill bg-primary">Tag  10</span>
          <span class="badge rounded-pill bg-primary">Tag  10</span>
          <span class="badge rounded-pill bg-primary">Tag  10</span>
          <span class="badge rounded-pill bg-primary">Tag  10</span>
        </div>

      </div>

    </div>





  </div>

</div>

<app-footer></app-footer>
