<app-nav-bar></app-nav-bar>

<div class="container">

  <div class="row border rounded border-1 mt-3 bg-light p-2">

      <div class="col-2">

          <img src="https://picsum.photos/id/237/100/100" class=" rounded-circle me-1" style="width: 2em; height: 2em;" alt="">
          Jiaming Li

      </div>

      <div class="col-2">
        Update: 2022-1-15
      </div>


      <div class="col-2">
        Viewers: 2009
      </div>

      <div class="col-4">

      </div>

      <div class="col-2">
        <a href="#">Blogs</a> / Content
      </div>
  </div>


  <div class="row border rounded border-1 bg-light p-2">
    <img src="https://picsum.photos/id/237/400/200" style=" height: 300px;">
  </div>


  <div class="row border rounded border-1 bg-light p-2">

    <div class="row">
      <div class="col-10"></div>
      <div class="col-2">
        <div class="badge rounded-pill bg-danger">Original</div>
      </div>
    </div>

    <div class="row text-center">
      <div class="h2">Blog Title</div>
    </div>
    <div class="row">
      <markdown emoji>

        {{blogText}}
      </markdown>
    </div>

    <div class="row mt-2">
      <div>
        <div class="badge rounded-pill bg-primary me-3">Tag1</div>
        <div class="badge rounded-pill bg-primary me-3">Tag1</div>
        <div class="badge rounded-pill bg-primary me-3">Tag1</div>
      </div>

      <div class="collapse m-2" id="collapseQrCode">
        <div class="row">

          <div class="col d-flex justify-content-center">
            <div class="card" style="width: 150px;">
              <img src="../../../assets/img/wechat_QR.jpg" class=" card-img-top rounded" alt="" >
              <div class="card-body text-center">
                <div class="fw-bold">
                  WeChat
                </div>

              </div>
            </div>


          </div>

          <div class="col d-flex justify-content-center">
            <div class="card" style="width: 150px;">
              <img src="../../../assets/img/wechat_QR.jpg" class=" card-img-top rounded" alt="" >
              <div class="card-body text-center">
                <div class="fw-bold">
                  Alipay
                </div>
              </div>
            </div>


          </div>

        </div>
      </div>

      <div class="text-center">
        <a type="button" class="btn btn-outline-danger" data-bs-toggle="collapse" href="#collapseQrCode" role="button" aria-controls="collapseQrCode">Appreciate</a>

      </div>




    </div>



  </div>
  <div class="row border border-1 rounded p-5 bg-info bg-opacity-50">

    <div class="col-8">
      <div class="list-group-flush">
        <div class="list-group-item bg-transparent">
          Author: Jiaming Li
        </div>
        <div class="list-group-item bg-transparent">
         Release Date: 2022/1/15 10:00 PM
        </div>
        <div class="list-group-item bg-transparent">
          Liscence: MIT
        </div>
      </div>
    </div>

    <div class="col-4 d-flex justify-content-center">

      <img src="../../../assets/img/wechat_QR.jpg" class=" card-img-top rounded" alt="" style="width: 180px;">
    </div>



  </div>

  <div class="ms-0 me-0">
    <app-comments style="width: 100%;"></app-comments>
  </div>






</div>

<app-footer></app-footer>
